<% if ENV['RAILS_ENV'] == 'production' %>

<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=2794381; 
var sc_invisible=0; 
var sc_partition=28; 
var sc_security="ef11012a"; 
</script>

<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div class="statcounter"><a class="statcounter" href="http://www.statcounter.com/"><img class="statcounter" src="http://c29.statcounter.com/2794381/0/ef11012a/0/" alt="web metrics" /></a></div></noscript>
<!-- End of StatCounter Code -->

<% end %>